<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <div style="display: flex; align-items: center;">
              <input id="id" type="text" placeholder="아이디(영문,숫자 조합 6~30자)" style="flex:1; padding: 15px;" autocomplete="off"/>
              <p id="check-id" style="width:25%; margin-bottom: 15px">중복체크</p>
              <input type="hidden" id="confirm-id" value="">
            </div>
            <input id="name" type="text" placeholder="이름"/>
            <input id="psword" type="password" placeholder="비밀번호"/>
            <input id="confirm-psword" type="password" placeholder="비밀번호 확인"/>
            <p id="button">SIGN UP</p>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2024 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->